@import "tailwindcss";

:root{
  background-image: linear-gradient(147deg, #205072, #07183e);
}

@theme {
  --color-grad-1: linear-gradient(147deg, #205072, #329D9C);
  --color-grad-2: linear-gradient(147deg, #329D9C, #56C596);
  --color-grad-3: linear-gradient(147deg, #56C596, #7BE495);
  --color-grad-4: linear-gradient(147deg, #7BE495, #CFF4D2);
  --color-grad-5: linear-gradient(147deg, #DC8665, #EEB462);
}